.element__like {
    background: url('../../../images/like.svg') no-repeat center;
    width: 22px;
    height: 19px;
    border: none;
    box-sizing: border-box;
    transition: 0.6s;
    margin-bottom: 3px;
}

.element__like:hover {
    opacity: 0.6;
    cursor: pointer;
}